body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
nav.navbar.bg-body-tertiary {
  background: red !important;
}
nav.navbar.bg-body-tertiary a {
  color: #fff;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

input[type="text"] {
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

#mealList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.meal {
  width: 200px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.meal img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.meal h3 {
  margin: 10px 0;
}

.meal p {
  margin: 5px 0;
}
